In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
train = pd.read_csv("../data/train.csv")

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
for var_name in train.select_dtypes(include=['object']):
    train[var_name] = pd.Categorical(train[var_name])
    train[var_name] = train[var_name].cat.codes

In [6]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,-1,3,3,0,...,0,-1,-1,-1,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,-1,3,3,0,...,0,-1,-1,-1,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,-1,0,3,0,...,0,-1,-1,-1,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,-1,0,3,0,...,0,-1,-1,-1,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,-1,0,3,0,...,0,-1,-1,-1,0,12,2008,8,4,250000

In [7]:
target = train.pop('SalePrice')

In [8]:
dataset = tf.data.Dataset.from_tensor_slices((train.values, target.values))

In [9]:
for feat, targ in dataset.take(2):
    print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 1.000e+00  6.000e+01  3.000e+00  6.500e+01  8.450e+03  1.000e+00
 -1.000e+00  3.000e+00  3.000e+00  0.000e+00  4.000e+00  0.000e+00
  5.000e+00  2.000e+00  2.000e+00  0.000e+00  5.000e+00  7.000e+00
  5.000e+00  2.003e+03  2.003e+03  1.000e+00  1.000e+00  1.200e+01
  1.300e+01  1.000e+00  1.960e+02  2.000e+00  4.000e+00  2.000e+00
  2.000e+00  3.000e+00  3.000e+00  2.000e+00  7.060e+02  5.000e+00
  0.000e+00  1.500e+02  8.560e+02  1.000e+00  0.000e+00  1.000e+00
  4.000e+00  8.560e+02  8.540e+02  0.000e+00  1.710e+03  1.000e+00
  0.000e+00  2.000e+00  1.000e+00  3.000e+00  1.000e+00  2.000e+00
  8.000e+00  6.000e+00  0.000e+00 -1.000e+00  1.000e+00  2.003e+03
  1.000e+00  2.000e+00  5.480e+02  4.000e+00  4.000e+00  2.000e+00
  0.000e+00  6.100e+01  0.000e+00  0.000e+00  0.000e+00  0.000e+00
 -1.000e+00 -1.000e+00 -1.000e+00  0.000e+00  2.000e+00  2.008e+03
  8.000e+00  4.000e+00], Target: 208500
Features: [ 2.000e+00  2.000e+01  3.000e+00  8.000e+01  9.600e+03  1.000e+00
 -1.000e+00  3.000e+00  3.000e+00  0.000e+00  2.000e+00  0.000e+00
  2.400e+01  1.000e+00  2.000e+00  0.000e+00  2.000e+00  6.000e+00
  8.000e+00  1.976e+03  1.976e+03  1.000e+00  1.000e+00  8.000e+00
  8.000e+00  2.000e+00  0.000e+00  3.000e+00  4.000e+00  1.000e+00
  2.000e+00  3.000e+00  1.000e+00  0.000e+00  9.780e+02  5.000e+00
  0.000e+00  2.840e+02  1.262e+03  1.000e+00  0.000e+00  1.000e+00
  4.000e+00  1.262e+03  0.000e+00  0.000e+00  1.262e+03  0.000e+00
  1.000e+00  2.000e+00  0.000e+00  3.000e+00  1.000e+00  3.000e+00
  6.000e+00  6.000e+00  1.000e+00  4.000e+00  1.000e+00  1.976e+03
  1.000e+00  2.000e+00  4.600e+02  4.000e+00  4.000e+00  2.000e+00
  2.980e+02  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00
 -1.000e+00 -1.000e+00 -1.000e+00  0.000e+00  5.000e+00  2.007e+03
  8.000e+00  4.000e+00], Target: 181500

In [10]:
train_dataset = dataset.shuffle(len(train)).batch(1)

In [11]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1, activation='linear')
  ])

model.compile(optimizer='adam',
              loss='mse',
              metrics=['mse'])

In [12]:
model.fit(train_dataset, epochs=15)

WARNING:tensorflow:Layer sequential is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 1/15
1460/1460 [==============================] - 5s 3ms/step - loss: 39039095694.9918 - mse: 39039082496.0000
Epoch 2/15
1460/1460 [==============================] - 3s 2ms/step - loss: 39026257153.9126 - mse: 39037648896.0000
Epoch 3/15
1460/1460 [==============================] - 2s 2ms/step - loss: 39047589704.0593 - mse: 39034916864.0000
Epoch 4/15
1460/1460 [==============================] - 3s 2ms/step - loss: 39045569620.5002 - mse: 39028084736.0000
Epoch 5/15
1460/1460 [==============================] - 2s 2ms/step - loss: 39030646459.5915 - mse: 39016411136.0000
Epoch 6/15
1460/1460 [==============================] - 2s 2ms/step - loss: 39019759141.3829 - mse: 39001317376.0000
Epoch 7/15
1460/1460 [==============================] - 2s 2ms/step - loss: 38996077153.3161 - mse: 38983127040.0000
Epoch 8/15
1460/1460 [==============================] - 3s 2ms/step - loss: 38957542705.6154 - mse: 38962163712.0000
Epoch 9/15
1460/1460 [==============================] - 2s 2ms/step - loss: 38922865358.1612 - mse: 38938333184.0000
Epoch 10/15
1460/1460 [==============================] - 3s 2ms/step - loss: 38917288474.5724 - mse: 38911774720.0000
Epoch 11/15
1460/1460 [==============================] - 2s 2ms/step - loss: 38880189654.1346 - mse: 38882570240.0000
Epoch 12/15
1460/1460 [==============================] - 2s 2ms/step - loss: 38865828775.9230 - mse: 38850682880.0000
Epoch 13/15
1460/1460 [==============================] - 2s 2ms/step - loss: 38791054107.1314 - mse: 38815916032.0000
Epoch 14/15
1460/1460 [==============================] - 2s 2ms/step - loss: 38781974139.7214 - mse: 38778433536.0000
Epoch 15/15
1460/1460 [==============================] - 2s 2ms/step - loss: 38711561375.9659 - mse: 38738386944.0000